{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "react-app"],
  "rules": {
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  }
}
